<div class="product-filters" [style.transform]="'translateY(' + transformY + 'px)'">
  <h5>Filters</h5>

  <div class="filter-group">
    <label>Category</label>
    <select [(ngModel)]="selectedCategory" (change)="onFilterChange()">
      <option value="">All</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div class="filter-group vertical-range">
    <label>Price Range</label>
    <div class="range-wrapper">
      <input type="range" min="0" max="1500" step="10" [(ngModel)]="priceRange" (change)="onFilterChange()" orient="vertical" />
      <div class="range-value">Up to ₱ {{ priceRange }}</div>
    </div>
  </div>

</div>
