<!-- nav -->
<nav class="navbar navbar-expand px-3" *ngIf="user">
  <div class="navbar-nav w-100 d-flex align-items-center">

    <!-- Left side nav links -->
    <div class="d-flex align-items-center gap-3">
      <img class="group-36" src="assets/group-360.svg" />
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-item nav-link" href="">Collections</a>
      <a class="nav-item nav-link" href="">New</a>
    </div>
    <!-- Right side icons and logout -->
    <div class="ms-auto d-flex align-items-center gap-3">
      <div class="cart">
        <a class="nav-item nav-link" href="">Cart</a>
      </div>
      <button class="btn logout-btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
