.profile-container {
display: flex;
justify-content: space-between;
padding: 40px;
font-family: sans-serif;
gap: 50px;
}

.user-info {
flex: 1;
border: 1px solid var(--light-gray);
padding: 30px;
background: var(--white);
height: fit-content;
color: var(--black);
}

.user-info h3 {
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}

.user-info p {
margin-bottom: 10px;
font-size: 14px;
color: var(--black);
}

.order-history {
flex: 2;
}

.order-history h3 {
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
color: var(--black);
}

.order-summary {
border: 1px solid var(--light-gray);
background-color: var(--white);
padding: 20px;
margin-bottom: 15px;
cursor: pointer;
transition: background 0.2s ease;
color: var(--black);
}

.order-summary:hover {
background-color: var(--light-gray);
}

.summary-header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
font-size: 14px;
font-weight: 500;
color: var(--black);
}

.arrow-icon {
font-size: 16px;
font-weight: bold;
margin-left: 10px;
color: var(--gray);
}

.order-details {
margin-top: 15px;
font-size: 14px;
padding-top: 10px;
border-top: 1px solid var(--light-gray);
color: var(--black);
}

.order-item {
margin-bottom: 10px;
color: var(--black);
}
.mark-delivered-btn {
margin-top: 15px;
padding: 8px 16px;
background-color: var(--black);
color: var(--white);
border: none;
border-radius: 4px;
font-weight: 600;
cursor: pointer;
transition: background-color 0.3s ease;
}

.mark-delivered-btn:hover {
background-color: var(--hover-color);
}

.order-status {
border: 2px solid;
border-radius: 12px;
font-weight: 600;
text-transform: capitalize;
display: inline-block;
min-width: 80px;
text-align: center;
}

/* Status colors */
.pending {
border-color: #b58900;
background-color: #fff8d5;
}

.shipping {
background-color: #ffe8cc;
}

.delivered {
background-color: #d0f0c0;
}

.canceled {
background-color: #fcdcdc;
}

