﻿<div class="register-wrapper" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="register-content">
      <div class="logo-section">
        <div class="logo-wrapper">
          <div class="logo-row">
            <h1 class="logo thrift">Thrift</h1>
            <h1 class="logo nest">Nest</h1>
          </div>
          <div class="reflection">
            <h1 class="logo thrift">Thrift</h1>
            <h1 class="logo nest2">Nest</h1>
          </div>
        </div>
      </div>
      <h2 class="welcome">Create Account</h2>

      <div class="form-group">
        <input type="text" formControlName="fullName" placeholder="Full Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
          <div *ngIf="f.fullName.errors.required">First Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" formControlName="username" placeholder="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Register
      </button>

      <div class="text-center mt-3">
        <a routerLink="../login" class="btn-link">Already have an account? Sign In</a>
      </div>
    </div>
  </form>
</div>
